{% extends 'todoapp/base.html' %}


{% block content %}

    <h1> You must log in to use the application </h1>
    <br>
    <h2> Project description </h2>
    <br>
    <p>   TodoApp is a practical task management application designed for testing purposes. With TestToDo, users can easily jot down their tasks and efficiently organize their to-do lists. To utilize the app's
  features, users must log in, ensuring a personalized and secure experience. Discover the seamless experience of creating a new form and embark on a journey towards improved productivity and task
  management.</p>
    <br>
    <img src="/static/img/meme.jpg" type="image/jpg" alt="Is meme - IronMan with open hands - Prideful - That moment when your code works.">

{% endblock %}